
body{
    background-color: #f7f7f7;
    font-style: Helevetica;
    font-size: 12px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

ol{
    background-color: #ff9999;
    padding:20px;
}

ul{
    background: #3399ff;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin: 35px;
}

ul li{
    background: black;
    margin: 5px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-style:  solid;
    text-align: left;
    font-size: 30px;
    padding: 15px;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: white;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 60px
  }
  
  li a:hover{
    background-color: white;
  }
  
  .active {
    background-color: #04AA6D;
  }
  